.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.nav-bar-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px; 
}

.nav-bar-list-icon {
    width: 20px;
    height: 20px;
}

.nav-bar-upload-icon {
    width: 30px;
    height: 30px;
}

.nav-bar-offers-icon {
    width: 25px;
    height: 25px;
}