/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #F5F5F5;
}

.App-header {
  background-color: #F5F5F5;
  color: #3C0E61;
  padding: 20px;
  align-items: center;
}

.logo-text {
  padding-top: 80px;
  margin: 50px;
  font-size: 4rem;
  font-weight: bold;
  align-items: center;
}

.location-icon {
  font-size: 3rem;
}

.button-container {
  margin-top: 150px;
  padding-bottom: 200px;
  background-color: #F5F5F5;
}



