.upload-listing,
.view-listings {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgb(231, 231, 241);
  border: none;
  color: #3C0E61;
  font-weight:bold;
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}

.view-listings {
    margin-bottom: 100px;
}