.offers-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #3C0E61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .offers-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #3C0E61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  
  .centered-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: rgb(231, 231, 241);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    color: #3C0E61;
  }

  .nav-button {
    background-color: #f5f5f5;
    background: transparent;
    border: none;
    color:#3C0E61;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    margin-left: 10px;
  }
  
  .next {
    margin-right: 10px;
  }
  
  .store-list-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 40px;
  }
  
  .store-list {
    padding-right: 15px;
  }
  
  .matches-header {
    margin-bottom: 10px;
    margin-left: 10px;
  }

.store-item {
    background-color: rgb(231, 231, 241);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    box-sizing: border-box;
  }
  
  .card-body {
    padding: 25px;
  }
  
  .store-price {
    padding-top: 20px;
    padding-right: 15px;
    margin-left: 10px;
    font-size: 22px;
  }
  
  .store-name,
  .store-distance {
    font-size: 18px;
    margin-left: 20px;
  }

  .store-name {
    font-weight: bold;
  }
  
  .store-list-container {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .store-list {
    padding-right: 15px;
  }

  .centered-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: rgb(231, 231, 241);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
    color: #3C0E61;
    width: 300px;
  }
  
  .nav-button {
    background: transparent;
    border: none;
    color:#3C0E61;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    margin-left: 10px;
  }
  
  .next {
    margin-right: 10px;
  }
  
  .store-list-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 40px;
  }
  
  .store-list {
    padding-right: 15px;
  }
  
  .matches-header {
    margin-bottom: 10px;
    margin-left: 10px;
  }

.store-item {
    background-color: rgb(231, 231, 241);
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    box-sizing: border-box;
  }
  
  .card-body {
    padding: 25px;
  }
  
  .store-price {
    padding-top: 20px;
    padding-right: 15px;
    margin-left: 10px;
    font-size: 22px;
  }
  
  .store-name,
  .store-distance {
    font-size: 18px;
    margin-left: 20px;
  }

  .store-name {
    font-weight: bold;
  }
  
  .store-list-container {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .store-list {
    padding-right: 15px;
  }
  
