.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .offers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .white-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .nav-buttons {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .store-list {
    width: 100%;
    margin-top: 20px;
  }
  
  .scrollable-container {
    width: 100%;
    max-height: 350px; /* Adjust max height as needed */
    overflow-y: auto;
  }
  
  .store-item {
    width: calc(33.33% - 20px); /* Each item takes up about one-third of the container */
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .store-name {
    font-weight: bold;
  }
  
  .store-price {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .store-distance {
    font-size: 0.9rem;
    color: #666;
  }
  